@model IEnumerable<GeoAddress.Models.BizViewModel>
@{
    ViewBag.Title = "Businesses";
    Layout = "~/Views/Shared/_LayoutMyPage.cshtml";
    var i = 1;
}

<h2>Businesses</h2>

<table class="table">
    <tr>
        <th>
            ##
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BusinessName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContactPhone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContactEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Website)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Building)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.County_Code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Constituency_Code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sub_County_Code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ward_Code)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        var mid = item.BaseID.ToString();
        <tr>
            <td>
                @i
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BusinessName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Website)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Building)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.County_Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Constituency_Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sub_County_Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ward_Code)
            </td>
            <td>
                <a href="/@ViewData["ExtLocalPath"]Biz/Edit/@mid">
                    Edit
                </a> |
                @Html.ActionLink("Details", "Details", new { id = item.BaseID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.BaseID })
            </td>
        </tr>
        i++;
    }

</table>