<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-multiselect.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Geo-Addressing", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            @if (Request.IsAuthenticated)
            {
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("Farmer", "Index", "Farmer", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("Household", "Index", "Hse", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("Business", "Index", "Biz", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("Schools", "Index", "Skul", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("Hospitals", "Index", "Hospital", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("Emergency", "Index", "Traffic", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("Log out", "LogOff", "Account", new { area = "" }, null)</li>
                </ul>
            </div>
            }
            else
            {
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, null)</li>
                        <li>@Html.ActionLink("About", "WhatIsPluscode", "Home", new { area = "" }, null)</li>
                        <li>@Html.ActionLink("Login", "Login", "Account", new { area = "" }, null)</li>
                    </ul>
                </div>
            }

        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Banah Systems Limited</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
