@model GeoAddress.Models.FarmerAquacultureProdViewModel
@{
    ViewBag.Title = "Add Aquaculture Production System";
    Layout = "~/Views/Shared/_LayoutMyPage.cshtml";
}
<script src="~/Scripts/bootstrap.js"></script>
<script src="~/Scripts/bootbox.all.js"></script>
<h2>Add Aquaculture Production System</h2>
@Html.ActionLink("Back", "IFarmAquaculture", "Farmer", new { id = (int)Session["id"] }, null)
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="mymessage text-success"></div>
        @if (ViewBag.Message != "")
        {
            <p>
                <div class="text-success">@ViewBag.Message</div>
            </p>}
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.HiddenFor(x => x.BaseID)
                    @Html.LabelFor(model => model.ProductID, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.DropDownListFor(model => model.ProductID, Model.ProdSyslist, "--Select--", new { @id = "ddlCrops", @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ProductID, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.ActiveUnits, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.ActiveUnits, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ActiveUnits, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Area_Volume, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Area_Volume, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Area_Volume, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.InactiveUnits, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.InactiveUnits, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.InactiveUnits, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.InAcArea_Volume, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.InAcArea_Volume, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.InAcArea_Volume, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <div class="col-md-12 text-center">
                        <input type="submit" value="SAVE" class="btn btn-default" />
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <p>
                <h4>AQUACULTURE PRODUCTION SYSTEMS</h4>
            </p>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Production System</th>
                        <th>Active Units</th>
                        <th>Area/Volume</th>
                        <th>Inactive Units</th>
                        <th>In-Active Area/Volume</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @if (@Model.FarmerAquaProdSyslist != null)
                    {
                        foreach (var item in Model.FarmerAquaProdSyslist)
                        {
                            if (item != null)
                            {
                                <tr>
                                    <th scope="row">@item.ProductID</th>
                                    <td>@item.ProductSystem</td>
                                    <td>@item.ActiveUnits</td>
                                    <td>@item.Area_Volume</td>
                                    <td>@item.InactiveUnits</td>
                                    <td>@item.InAcArea_Volume</td>
                                    <td>
                                        @Html.ActionLink("Edit", "AddAquacultureProd", "Farmer", new { id = item.ProductID }, null)
                                        <a href="#" onclick="deleteSession(@item.ProductID)" id="btnDelete" data-target="#deleteModal" title="Delete"><span class="glyphicon glyphicon-trash"></span></a>
                                    </td>
                                </tr>
                            }
                        }
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="5">
                            Page Information Here<<Page 1>>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
        <script type="text/javascript" language="javascript">
        function deleteSession(id) {
            bootbox.confirm("Are you sure you want to delete Aquaculture Production System ID " + id + "?", function (result) {
                $.ajax({
                    url: "@Url.Action("DelAquacultureProd", "Farmer")",
                    type: 'POST',
                    data: JSON.stringify({ id: id }), //small letter id, same as in controller parameter
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (customer) {
                        if (customer != null) {
                            window.location.href = '/Farmer/AddAquacultureProd/0'
                        }
                    },
                    error: function (data) {
                        console.log(data);
                    }
                });
            });
        }
        </script>
}
